body {
	display: flex;
	min-height: 100vh;
	flex-direction: column; 
	background-color: #A6DEDB;  
}

main {
  flex: 1 0 auto; }

footer a .fa {
  color: #e1f5fe; }

.canvas-container {
   margin: 0 auto;
}

/*#drawing-canvas { 
	background-color: white;
}*/

canvas { 
	display: block;
	box-shadow: 0 4px 2px -2px gray;
}

.emoji-lists { 
	overflow-y: scroll;
	overflow-x: hidden; 
	height: 300px; 
}

.right { 
	padding-left: 20px; 
	height: 750px; 
 }

 .left { 
	height: 750px; 
 }

.save-div { 
	padding-top: 50px; 
 }

 .title { 
	font-family: 'Lobster', cursive;
 }

.main-area { 
	background-color: white; 
	border-style: solid;
    border-width: medium;
    padding: 20px; 
}